---
import * as CONTENT from "../pages/content";
import imagen from "../../public/profile.jpg";
import Icon from "astro-icon";
---

<!-- Hero section -->
<header class="mx-auto py-8">
  <article
    class="grid grid-cols-2 grid-rows-1 place-items-left w-[98vw] max-w-3xl"
  >
    <div class="rounded-full border-primary self-end shadow-2xl md:w-24 w-20 aspect-square ">
      <img
        src={imagen}
        alt="profile_picture"
        class="object-cover w-full h-full rounded-full grayscale-[50] hover:grayscale-0"
      />
    </div>

    <div class="grid text-right " >
      <h1 class="text-3xl text-text mb-2">{CONTENT.name}</h1>
      <h5 class="text-sm text-text/70">{CONTENT.location}</h5>
      <a
        href={CONTENT.website}
        target="_blank"
        class="flex pt-3 justify-self-end text-blue-300 hover:text-blue-500"
      >
        <Icon name={"icon-park-outline:unlink"} class="w-5 h-5" />CV Vitae
      </a>
    </div>


 


  </article>
</header>
